<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Attendance Update</title>
  <style>
    body {
      font-family: 'Helvetica Neue', Arial, sans-serif;
      line-height: 1.6;
      color: #333;
    }

    .container {
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      background-color: #f8f8f8;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    h1 {
      color: #007BFF;
    }

    p {
      margin-bottom: 20px;
    }

    .cta-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007BFF;
      color: #fff;
      text-decoration: none;
      border-radius: 3px;
      transition: background-color 0.3s ease-in-out;
    }

    .cta-button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <div class="container">
     <h1>More people are going to the event you are going!</h1>
    <p>Hi <%= @user.username %>,</p>
    <p>We wanted to share some exciting news! There are <%= @count %> people who will be attending the same event as you.</p>
    <p>Join the community and connect with others who share your interests.</p>
    <a class="cta-button" href="<%= post_url(@post) %>">View Event</a>
    <p>See you there!</p>
  </div>
</body>
</html>
