.passwordReset_title {
  color: #14213d;
  font-size: 36px;
}

.passwordReset_container {
  display: flex;
  flex-direction: column;
  /* padding: 62px; */
  align-items: center;
  justify-content: center;
  height: 500px;
}

.passwordReset_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  gap: 25px;
}

.passwordReset {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 14px;
  align-items: center;
}

.passwordReset_form label {
  font-size: 22px;
}

.passwordReset_form input {
  border: none;
  border-radius: 4px;
  padding: 4px;
  width: 200px;
  height: 30px;
}

.passwordReset_btn {
  background-color: rgb(252, 163, 17);
  width: 132px !important;
  cursor: pointer;
}

.passwordReset_btn:hover {
  color: #e5e5e5;
}
